.first{
    background-color: #42647F;
}
.navbar-nav .nav-item .nav-link{
    color: white;
    text-decoration: none;
    font-weight: 200;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #a1d3fc;
}
